# Node
node_modules/
dist/
*.js.map

# Python
__pycache__/
*.pyc
.venv/
venv/

# Power Platform
*.msapp
*.zip
*.crdownload

# Azure Functions
local.settings.json

# VS Code
.vscode/
*.code-workspace

# Environment files
.env
.env.local
